# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
lib/fullcalendar/lib/locales/eo.js
lib/fullcalendar/lib/locales/en-gb.js
lib/fullcalendar/lib/locales/en-au.js
lib/fullcalendar/lib/locales/el.js
lib/fullcalendar/lib/locales/de.js
lib/fullcalendar/lib/locales/de-at.js
lib/fullcalendar/lib/locales/da.js
lib/fullcalendar/lib/locales/cy.js
lib/fullcalendar/lib/locales/cs.js
lib/fullcalendar/lib/locales/ca.js
lib/fullcalendar/lib/locales/bs.js
lib/fullcalendar/lib/locales/bn.js
lib/fullcalendar/lib/locales/bg.js
lib/fullcalendar/lib/locales/az.js
lib/fullcalendar/lib/locales/ar.js
lib/fullcalendar/lib/locales/ar-tn.js
lib/fullcalendar/lib/locales/ar-sa.js
lib/fullcalendar/lib/locales/ar-ma.js
lib/fullcalendar/lib/locales/ar-ly.js
lib/fullcalendar/lib/locales/ar-kw.js
lib/fullcalendar/lib/locales/ar-dz.js
lib/fullcalendar/lib/locales/af.js
lib/fullcalendar/lib/locales-all.min.js
lib/fullcalendar/lib/locales-all.js
lib/fullcalendar/examples/week-numbers.html
lib/fullcalendar/examples/timegrid-views.html
lib/fullcalendar/examples/timegrid-views-hscroll.html
lib/fullcalendar/examples/timegrid-sticky-header.html
lib/fullcalendar/examples/time-zones.html
lib/fullcalendar/examples/theming.html
lib/fullcalendar/examples/selectable.html
lib/fullcalendar/examples/php/utils.php
lib/fullcalendar/examples/php/get-time-zones.php
lib/fullcalendar/examples/php/get-events.php
lib/fullcalendar/examples/natural-height.html
lib/fullcalendar/examples/month-view.html
lib/fullcalendar/examples/month-view-bug.html
lib/fullcalendar/examples/locales.html
lib/fullcalendar/examples/list-views.html
lib/fullcalendar/examples/list-sticky-header.html
lib/fullcalendar/examples/json/events.json
lib/fullcalendar/examples/json.html
lib/fullcalendar/examples/js/theme-chooser.js
lib/fullcalendar/examples/icalendar.html
lib/fullcalendar/examples/google-calendar.html
lib/fullcalendar/examples/full-height.html
lib/fullcalendar/examples/external-dragging-builtin.html
lib/fullcalendar/examples/external-dragging-2cals.html
lib/fullcalendar/examples/daygrid-views.html
lib/fullcalendar/examples/background-events.html
lib/fullcalendar/lib/locales/en-nz.js
lib/fullcalendar/lib/locales/es-us.js
lib/fullcalendar/lib/locales/es.js
lib/fullcalendar/lib/locales/et.js
lib/fullcalendar/lib/locales/eu.js
lib/fullcalendar/lib/locales/fa.js
lib/fullcalendar/lib/locales/fi.js
lib/fullcalendar/lib/locales/fr-ca.js
lib/fullcalendar/lib/locales/fr-ch.js
lib/fullcalendar/lib/locales/fr.js
lib/fullcalendar/lib/locales/gl.js
lib/fullcalendar/lib/locales/he.js
lib/fullcalendar/lib/locales/hi.js
lib/fullcalendar/lib/locales/hr.js
lib/fullcalendar/lib/locales/hu.js
lib/fullcalendar/lib/locales/hy-am.js
lib/fullcalendar/lib/locales/id.js
lib/fullcalendar/lib/locales/is.js
lib/fullcalendar/lib/locales/it.js
lib/fullcalendar/lib/locales/ja.js
lib/fullcalendar/lib/locales/ka.js
lib/fullcalendar/lib/locales/kk.js
lib/fullcalendar/lib/locales/km.js
lib/fullcalendar/lib/locales/ko.js
lib/fullcalendar/lib/locales/ku.js
lib/fullcalendar/lib/locales/lb.js
lib/fullcalendar/lib/locales/lt.js
lib/fullcalendar/lib/locales/lv.js
lib/fullcalendar/lib/locales/mk.js
lib/fullcalendar/lib/locales/ms.js
lib/fullcalendar/lib/locales/nb.js
lib/fullcalendar/lib/locales/ne.js
lib/fullcalendar/lib/locales/nl.js
lib/fullcalendar/lib/locales/nn.js
lib/fullcalendar/lib/locales/pl.js
lib/fullcalendar/lib/locales/pt-br.js
lib/fullcalendar/lib/locales/pt.js
lib/fullcalendar/lib/locales/ro.js
lib/fullcalendar/lib/locales/ru.js
lib/fullcalendar/lib/locales/si-lk.js
lib/fullcalendar/lib/locales/sk.js
lib/fullcalendar/lib/locales/sl.js
lib/fullcalendar/lib/locales/sm.js
lib/fullcalendar/lib/locales/sq.js
lib/fullcalendar/lib/locales/sr-cyrl.js
lib/fullcalendar/lib/locales/sr.js
lib/fullcalendar/lib/locales/sv.js
lib/fullcalendar/lib/locales/ta-in.js
lib/fullcalendar/lib/locales/th.js
lib/fullcalendar/lib/locales/tr.js
lib/fullcalendar/lib/locales/ug.js
lib/fullcalendar/lib/locales/uk.js
lib/fullcalendar/lib/locales/uz.js
lib/fullcalendar/lib/locales/vi.js
lib/fullcalendar/lib/locales/zh-cn.js
lib/fullcalendar/lib/locales/zh-tw.js
lib/fullcalendar/lib/main.css
lib/fullcalendar/lib/main.js
lib/fullcalendar/lib/main.min.css
lib/fullcalendar/lib/main.min.js
lib/fullcalendar/LICENSE.txt
lib/fullcalendar/README.md
